{{ define "choosePresidentDB2019.html" }}
{{ template "header" }}
<form method="POST" action="listPresidentDB2019.html">
	<div class="row">
	<label for="left-label" class="left inline">
	<h2>Pick Your President</h2>

	Choose your president:<select name="ID">
	<option></option>
	{{ range . }}
	<option value="{{ .Num }}">{{ .Num }}<sup>th</sup> President</option>
    {{ end }}
	</select>
	<p /><hr>&nbsp;&nbsp;&nbsp;<b>OR</b> &nbsp;&nbsp;&nbsp; fill in zero or more values below<hr> <p />
	<p>First Name: <input type=text name="FName"></p>
	<p>Last Name: <input type=text name="LName"></p>
	<p>State: <input type=text name="State"></p>
	<p>Party: <input type=text name="Party"></p>

	<p>Term Number: <select name="Term">
	<option></option>
	{{ range . }}
	<option value="{{ .Term }}">{{ .Term }}</option>
    {{ end }}
	</select>

	<p>Starting year of presidency: (YYYY) <select name="Start">
	<option></option>
	{{ range . }}
	<option value="{{ .Start }}">{{ .Start }}</option>
    {{ end }}
	</select>

	<p>Ending year of presidency: (YYYY) <select name="End">
	<option></option>
	{{ range . }}
	<option value="{{ .End }}">{{ .End }}</option>
    {{ end }}
	</select>

	<input type="submit" name="submit" class="button tiny round" value="Find a President" />
	</label>
	</div>
</form>
{{ template "footer" }}
{{ end }}
