{{ define "header" }}
<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Here is Who's Who</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/home/sshrest4/static/css/normalize.css">
    <link rel="stylesheet" href="/home/sshrest4/static/css/foundation.css">

    <script src="/home/sshrest4/static/js/vendor/modernizr.js"></script>
</head>

<body>
    <div class="contain-to-grid sticky">
        <nav class="top-bar" data-topbar data-options="sticky_on: large">
            <ul class="title-area">
                <li class="name">
                    <h5 align="left"><a href="/********/">
                            <font color="white">Here is Who's Who</font>
                        </a></54>
                </li>
            </ul>
        </nav>
    </div>
    {{ end }}